@keyframes undulation {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 10px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}